<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.plugin.aliPushPlugin.ios" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>AliPushPlugin</name><js-module name="AliPushPlugin" src="www/AliPushPlugin.js"><clobbers target="cordova.plugins.AliPushPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="AliPushPlugin"><param name="ios-package" value="AliPushPlugin" /></feature></config-file><source-file src="src/ios/AliPushPlugin.m" /></platform></plugin>