<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Appkey</key>
    <string>$APP_KEY</string>
    <key>Appsecret</key>
    <string>$App_Secret</string>
    <key>Channel</key>
    <string>iOS</string>
    <key>IsProduction</key>
    <false/>
    <key>Delay</key>
    <false/>
</dict>
</plist>
